* {
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
    font-family: 'Poppins', sans-serif;
    cursor: none;
}

body {
    background-color: #e5e5e5;
    overflow: hidden;
}

body .mouse {
    pointer-events: none;
    position: absolute;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 3px solid #000000;
    transform: translate(-50%, -50%);
    z-index: 3;
}

body .mouse::before {
    content: "";
    display: block;
    height: 45px;
    width: 2px;
    position: relative;
    background-color: #000000;
    left: 14px;
    transform: translateY(-7px);
}

body .mouse::after {
    content: "";
    display: inline-block;
    height: 45px;
    width: 2px;
    position: relative;
    background-color: #000000;
    left: 14px;
    transform: translateY(-53px) rotate(90deg);
}

body .mouse-down {
    transform: scale(0.95) translate(-55%, -55%);
}

body .ham-menu {
    display: inline-block;
    position: fixed;
    top: 10px;
    left: 10px;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    z-index: 2;
    
}
body .ham-menu span {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #000000;
    transition: all 0.25s ease-in;
}
body .ham-menu span:nth-child(1) {
    top: 30%;
}
body .ham-menu span:nth-child(2) {
    top: 50%;
}
body .ham-menu span:nth-child(3) {
    top: 70%;
}
body .ham-menu.active span {
    background-color: red;
}

body .ham-menu.active span:nth-child(1) {
    transform: rotate(45deg);
    top: 50%;
}
body .ham-menu.active span:nth-child(3) {
    transform: rotate(-45deg);
    top: 50%;
}
body .ham-menu.active span:nth-child(2) {
    opacity: 0;
}

header {
    display: flex;
    background-color: transparent;
    position: fixed;
    top: 0;
    width: 0%;
    opacity: 0;
    bottom: 0;
    z-index: 1;
    transition: all 0.5s ease-in;
    backdrop-filter: blur(20px);
}
header ul{
    display: flex;
    flex: 1;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    font-size: 36px;
    width: 100%;
}
header ul li {
    height: 100%;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    letter-spacing: 1px;
    list-style-type: none;
    text-align: center;
    overflow: hidden;
}
header ul video {
    z-index: -1;
    opacity: 0;
    transition: all 0.5s ease-in;
}
header ul li:hover video {
    opacity: 1;
}
header ul li span {
    position: absolute;
}
header.active {
    width: 100%;
    opacity: 1;
}

.page-container {
    position: relative;
    display: flex;
    justify-content: flex-end;
    padding: 30px;
}

.page-container .bg {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-image: linear-gradient(30deg, #df3b1b 50%, #e5e5e5 50%);
    z-index: -1;
}

.page-container .bg h1 {
    position: relative;
    top: 50%;
    left: 10%;
    letter-spacing: 2px;
    font-size: 44px;
    text-transform: uppercase;
}

.page-container .sticker {
    position: absolute;
    left: 13%;
    top: 20%;
    border-radius: 15px;
    font-size: 64px;
    transform: rotate(30deg);
    padding: 0 10px;
    mix-blend-mode: screen;
    background: #e7e7e7;
}

.svg_image svg {
    height: 600px;
    width: 700px;
}

.svg_image svg #grass, .svg_image svg #Vector_23 {
    transform-origin: 50% 50%;
    transform-box: fill-box;
}

.svg_image svg #boy, .svg_image svg #bg {
    animation: boy 1.5s ease-out infinite;
}

.svg_image svg #grass {
    animation: grass 1.5s ease-out infinite;
}

.svg_image svg #Vector_23 {
    animation: hand 1.5s ease-out infinite;
}

@keyframes boy {
    0% {
        transform: translate(0%, 0%);
    }
    50% {
        transform: translate(0%, -3%);
    }
    100% {
        transform: translate(0%, 0%);
    }
}
@keyframes grass {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.99);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes hand {
    0% {
        transform: rotateZ(0deg) translateX(-0%);
    }
    50% {
        transform: rotateZ(45deg) translate(-108%);
    }
    100% {
        transform: rotateZ(0deg) translateX(0%);
    }
}
@media screen and (max-width: 768px) {
    header ul {
        flex-direction: column;
    }
    header ul li {
        width: 100%;
    }
    header ul li video {
        transform: scale(5);
    }
}