.cursor {
    display: inline-block;
    width: 10px;
    height: 20px;
    animation-name: flicker;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes flicker {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
  