:root {
  --text-color: #2E3739;
  --red-text: #D55252;
  --white: #ffffff;
  --black: #000000;
  --gray: #e7e7e7;
  --yellow: #f2bf33;
  --pink-shade: #eca7a5;
  --violet-shade: #c7abe6;
  --blue-shade: #809ceb;
  --light-green: #d8ebe7;
  --dark-blue: #242e4c;
  --selected-tab: 25%;
  --theme-color: var(--yellow)
;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin: 0;
}

html, body {
  height: 100%;
}

body::-webkit-scrollbar {
  display: none;
}

.hero {
  background-color: var(--theme-color, --yellow);
  position: relative;
  height: 100vh;
  overflow: hidden;
  padding: 20px;
  -webkit-transition: background-color 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out;
}

.hero__container {
  background-color: white;
  height: 100%;
  border-radius: 45px;
  position: relative;
}

.hero__header {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 80px;
}

.hero__header__logo {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-left: 20px;
}

.hero__header__links {
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  list-style-type: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  place-items: center;
}

.hero__header__links li {
  height: 100%;
  width: 100%;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.hero__header__links li.active {
  font-style: italic;
  font-weight: 300;
}

.hero__header__selected {
  position: absolute;
  top: 50%;
  left: calc(var(--selected-tab) - 12.5%);
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  display: inline-block;
  width: calc(25% - 50px);
  height: 2px;
  border-radius: 100vh;
  background-color: var(--theme-color, --yellow);
  -webkit-transition: left 0.25s ease-in-out;
  transition: left 0.25s ease-in-out;
}

.hero__footer {
  background-color: var(--black);
  opacity: 0.5;
  border-bottom-right-radius: 100vh;
  border-bottom-left-radius: 100vh;
  left: 10px;
  right: 10px;
  bottom: 10px;
  height: 45px;
  position: absolute;
}

.hero__footer__buttons {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__footer__buttons li {
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.hero__footer__buttons input {
  display: none;
}

.hero__footer__buttons input:checked + label {
  height: 20px;
  width: 20px;
  background-color: var(--theme-color, --yellow);
}

.hero__footer__buttons label {
  cursor: pointer;
  display: inline-block;
  height: 10px;
  width: 10px;
  border-radius: 100vh;
  background-color: var(--gray);
  margin: 0 10px;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.hero__section {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: calc(100% - 135px);
}

.hero__section__main1 {
  position: relative;
  margin: 0 10px;
  min-height: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff80), to(transparent));
  background-image: linear-gradient(#ffffff80, transparent);
  background-color: var(--yellow);
  display: -ms-grid;
  display: grid;
  border-radius: 50px 50px 0 0;
  -ms-grid-columns: 35% 30% auto;
      grid-template-columns: 35% 30% auto;
  -ms-grid-rows: 100%;
      grid-template-rows: 100%;
}

.hero__section__main1__picture {
  max-width: 300px;
  max-height: 400px;
  overflow: hidden;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: end;
      justify-self: end;
}

.hero__section__main1__picture img {
  width: 100%;
}

.hero__section__main1__content {
  color: var(--text-color);
  font-size: 2.5rem;
  position: relative;
  white-space: nowrap;
  letter-spacing: 2px;
}

.hero__section__main1__content__title {
  position: relative;
  left: -24%;
  top: 25%;
}

.hero__section__main1__content__title:nth-child(2) {
  color: var(--red-text);
}

.hero__section__main1__knowledge {
  -ms-grid-column-align: end;
      justify-self: end;
  text-align: right;
}

.hero__section__main1__knowledge__list {
  list-style-type: none;
  opacity: 0.5;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 7px;
  color: var(--white);
  line-height: 40px;
  padding-top: 20px;
}

.hero__section__main2 {
  position: relative;
  margin: 0 10px;
  min-height: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff80), to(transparent));
  background-image: linear-gradient(#ffffff80, transparent);
  background-color: var(--blue-shade);
}

.hero__section__main3 {
  position: relative;
  margin: 0 10px;
  min-height: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff80), to(transparent));
  background-image: linear-gradient(#ffffff80, transparent);
  background-color: var(--violet-shade);
}

.hero__section__main4 {
  position: relative;
  margin: 0 10px;
  min-height: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff80), to(transparent));
  background-image: linear-gradient(#ffffff80, transparent);
  background-color: var(--pink-shade);
}
/*# sourceMappingURL=index.css.map */