:root {
  --text-color: white;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: 'Poppins', sans-serif;
}

.hero {
  color: var(--text-color);
  position: relative;
}

.hero__bg-image {
  z-index: -1;
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url(./assets/hero.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  -webkit-filter: brightness(0.5);
          filter: brightness(0.5);
}

.hero__container {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero__container__title {
  font-size: 3rem;
  font-family: 'Kaushan Script', cursive;
}

.hero__container__subtitle {
  min-height: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.4rem;
}

.hero__container__subtitle__text {
  min-width: 150px;
  font-weight: 600;
}

.demo .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.demo .card {
  margin: 40px auto;
  max-width: 300px;
  min-height: 350px;
  -webkit-box-shadow: 0 0 10px #ccc;
          box-shadow: 0 0 10px #ccc;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  position: relative;
}

.demo .card__img {
  position: absolute;
  width: 250px;
  height: 200px;
  left: 50%;
  top: -10%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  border-radius: 5px;
  -webkit-box-shadow: 0 0 10px 2px #ccc;
          box-shadow: 0 0 10px 2px #ccc;
}

.demo .card__desc {
  height: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 170px;
}

.contact {
  background-color: #ebe9e9;
}

.contact__copy {
  text-align: center;
}

.contact h3 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 6vw;
  letter-spacing: 4vw;
  color: black;
  font-weight: 200;
}

.contact h3::after {
  content: "";
  position: absolute;
  font-size: 1.5rem;
  font-weight: 500;
  color: #000;
  letter-spacing: 1px;
}

.contact__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

.contact__links li {
  margin: 5px 10px;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transition: -webkit-transform 0.05s ease-in-out, -webkit-box-shadow 0.05s ease-in-out;
  transition: -webkit-transform 0.05s ease-in-out, -webkit-box-shadow 0.05s ease-in-out;
  transition: transform 0.05s ease-in-out, box-shadow 0.05s ease-in-out;
  transition: transform 0.05s ease-in-out, box-shadow 0.05s ease-in-out, -webkit-transform 0.05s ease-in-out, -webkit-box-shadow 0.05s ease-in-out;
}

.contact__links li:hover {
  -webkit-transform: scale(0.92);
          transform: scale(0.92);
  -webkit-box-shadow: 0 15px 10px -10px #333;
          box-shadow: 0 15px 10px -10px #333;
}

.contact__links li img {
  width: 35px;
  height: 35px;
}

.contact__links li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.contact__links__text {
  display: none;
}

.contact__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
}

.contact__form input, .contact__form textarea {
  width: 100%;
  padding: 5px;
  border: 0;
  border-radius: 5px;
  font-size: 1.2rem;
}

.contact__form label {
  margin: 10px 0;
}

.contact__form button {
  border: 0;
  border-radius: 5px;
  font-size: 1.2rem;
  padding: 10px;
  background-color: #3b3b3b;
  color: white;
}

.contact__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 768px) {
  .hero__container__title {
    font-size: 5rem;
  }
  .hero__container__subtitle {
    font-size: 2rem;
  }
  .hero__container__subtitle__text {
    min-width: 250px;
  }
  .contact h3 {
    color: #ccc;
  }
  .contact h3::after {
    content: "Contact Links";
  }
  .contact__links {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .contact__links li {
    font-size: 1.5rem;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    -webkit-box-shadow: 2px 2px 5px #ccc;
            box-shadow: 2px 2px 5px #ccc;
  }
  .contact__links li a {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact__links li a img {
    width: 75px;
    height: 75px;
  }
  .contact__links__text {
    display: inline;
    margin: 0 10px;
  }
  .contact__form {
    background-color: white;
    border-radius: 5px;
    -webkit-box-shadow: 0 15px 10px -10px #333;
            box-shadow: 0 15px 10px -10px #333;
  }
  .contact__form input, .contact__form textarea {
    -webkit-box-shadow: inset 0 0 2px #333;
            box-shadow: inset 0 0 2px #333;
  }
  .contact__wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin: 20px 0;
  }
}
/*# sourceMappingURL=index.css.map */